@charset "UTF-8";
/* Francisca Chinchilla*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.6em;
	color: #3505FF;
	background-color: #FCD0FF;
	padding: 0;
	margin: 0;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #000000;
}
h1 {
	font-size: 24px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
	color: #0000F4;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #FFA6D9;
}
h3 {
	font-size: 18px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #07ACB2;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #75ACB2;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #75ACB2;
	text-decoration: none;
}
a:hover {
	color: #33D0B2;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 12px;
}

/* table styles -------------------------------------- */
table {
	border: solid #999933 1px;
}
td {
	padding: 6px;
	border: solid #999933 1px;
}
th {
	font-weight: bold;
	background-color: #999938;
	text-align: center;
	padding: 6px;
	border: solid #999933 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #999933 1px;
}

img {
	border: solid #999933 1px;

}

iframe {
	border: solid #999933 1px;
	padding: 8px;
	margin: 8px;
}


/* ----Div Styles for page layout ------------*/


#container { 
	width: 900px; 
	margin: 0 auto; 
	background-color: #FCD0FF; 
	overflow: hidden; 
}
#header { 
	width: 100%; 
	background-color: #EEEEE;
	border-bottom: 1px solid #999933;
}
#content { 
	width: 600px;
	float: left; 
	padding-bottom: 40px;
}
#content-Media { 
	width: 100%;
	float: left; 
	padding-bottom: 40px;
	background-color: #fff;

}
#sidebar-Overview { 
	width: 278px; 
	float: left;
	margin-top: 50px;
	margin-right: 20px;
	background: #eee;
	border: 1px solid #800000;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #888888;
}
#sidebar-Overview p{
	padding: 0;
    float: right;
}
#sidebar { 
	width: 278px; 
	float: left;
	margin-top: 50px;
	margin-right: 20px;
	background: #eee;
	border: 1px solid #800000;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #888888;
}
#sidebar h1 {
  font-size: 1.0em;
  margin: 0;
  padding: 0;
}
#sidebar p {
  font-size: .2em;
  margin: 0;
  padding: 20;
  letter-spacing: 0;
}
#sidebar-author { 
	width: 178px; 
	float: left;
	margin-top: 50px;
	margin-right: 20px;
	padding: 10px;
	background: #eee;
	border: 1px solid #800000;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #888888;
}
#sidebar-author h1 {
  text-align: center;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
}
#sidebar-author p {
  font-size: .2em;
  margin: 0;
  padding: 10px;
}
#sidebar-author img {
  width: 120px;
  padding-top: 2px;
}
#footer { 
	clear: both;
	width: 100%; 
	background-color: #EEE;
	border-top: 1px solid #800000;
}
#footer p {
	margin: 0;
	padding: 40px;
}